.def silversword 044e
.def firesword 044f
.def icesword 0450
.def powersword 0453
.def ax 0458|upjab
.def shovel 0459
# magic wand opens one-way paths
# no potential for softlock because of S&Q
.def magicwand 0464
.def icebell 0466
.def sunring 0467
.def powerfan 0468
.def elvenflute 0469
.def skybell 046a
.def lightstone 046b
.def sunstone 046c
.def starstone 046d
.def aquastone 046e
.def moonstone 046f
.def lightspell 0470
.def starspell 0471
.def sunspell 0472
.def aquaspell 0473
.def moonspell 0474
.def lifebottle 0000
#.def 5000_coins 0005
#.def 2000_coins 0004|5000_coins
.def 1000_coins 0003
.def 500_coins 0002|1000_coins

.def lightgate_down lightstone
.def sungate_down boa&sunstone
.def stargate_down hiya&starstone
.def aquagate_down aquastone
.def moongate_down puka&moonstone

.def sword 044e|044f|0450|0451|0452|0453
.def weapon sword|0455|0456|0458
.def armor 045b|045c|045d
.def shield 0460|0461|0462
.def durability armor&lifebottle

.def shove 047d
.def upjab 047e&sword&1000_coins
.def downjab 047f&sword&500_coins

.def poka *
.def poka_isle *
.def boa lightgate_down|hiya&sungate_down
.def boa_isle boa&sunring&durability
.def sala_isle sala&durability
.def fuwa_isle lightspell&starspell&sunspell&aquaspell&moonspell&durability

# todo: sala_puka_warp might be blocked by high water level? Except to reach aqua switch. investigate
.def boa_hiya_warp shove&boa_isle&shovel
.def boa_poka_warp shove&boa_isle
.def sala_hiya_warp shove&sala_isle&shovel
.def sala_puka_warp shove&sala_isle&shovel
.def fuwa_poka_warp shove&fuwa_isle&shovel
.def fuwa_puka_warp shove&fuwa_isle&powersword&downjab

.def poka_sword poka&silversword|fuwa_poka_warp

.def hiya boa&sungate_down|hiya_warp&magicwand|star_zone&stargate_down
.def hiya_isle hiya&icebell&shove|boa_hiya_warp&firesword&shovel|hiya_warp&magicwand&shove|sala_hiya_warp&firesword

.def hiya_warp boa_hiya_warp|sala_hiya_warp

.def puka_warp sala_puka_warp|fuwa_puka_warp
.def puka aquagate_down|puka_warp&magicwand|star_zone&moongate_down|sala&moongate_down
.def puka_isle puka&powerfan&shovel&durability|puka_warp&magicwand&shovel&durability
.def puka_drained puka_isle&shovel&shove

.def sala puka&moongate_down|star_zone&moongate_down

.def star_zone hiya&stargate_down|puka&moongate_down|sala&moongate_down

.def lightswitch poka
.def sunswitch boa_isle
.def starswitch hiya_isle&firesword&shove|sala_hiya_warp&shove
.def aquaswitch puka_drained|sala_puka_warp
.def moonswitch sala_isle

.def lightblocks_on lightswitch
.def sunblocks_on *
.def starblocks_on *
.def aquablocks_on *
.def moonblocks_on moonswitch

.def lightblocks_off *
.def sunblocks_off sunswitch
.def starblocks_off starswitch
.def aquablocks_off aquaswitch
.def moonblocks_off *

.def all_techs hiya&puka&sala&shove&upjab&downjab
.def boss lifebottle&weapon

lightstone_10305 poka_sword&boss
starstone_116ec starswitch&shove&boss
elvenflute_14159 sala_isle&shove&shovel&downjab&ax&boss
skybell_14c5c fuwa_isle&powersword&shovel&boss
aquastone_16d70 boa_isle&shove&icesword&boss
moonstone_17a91 puka_isle&shove&shovel&aquaswitch&boss

#poka isle: all verified
health_18890 poka&silversword
dagger_18b47 poka_sword
# this life bottle can be obtained with damage boosting
health_18d8d poka&shovel
500c_18dd0 poka_sword&shove
icesword_18e22 poka_sword&sunblocks_off
1000c_18e3e poka_sword&elvenflute
silversword_18e78 poka&lightblocks_on
2000c_1907e poka_sword&moonblocks_on
fireballs_1909a poka_sword&downjab
lightspell_1911a poka_sword&elvenflute

sunstone_1a961 boa&lifebottle|boa&weapon
powerfan_1a9d9 puka&boss

downjab_2b9ef puka
upjab_2ba05 sala
shove_2ba1b hiya

start_2cf18 *

sunring_39179 star_zone
icebell_39348 hiya&shove
magicwand_394d7 star_zone
shovel_39db9 puka

# hiya isle: all verified
firesword_fb562 hiya_isle
magic_fb57e hiya_isle&shovel|boa_hiya_warp&firesword
health_fb59a hiya_isle&sunblocks_off
fireshield_fb5b6 starswitch&starblocks_off
health_fb5d2 starswitch&upjab
health_fb5ee shove&starblocks_off
firearmor_fb60a starswitch
1000c_fb626 starswitch&starblocks_on
# can get with sala_hiya, but sala_hiya requires shove anyway
health_fb642 starswitch&elvenflute
starspell_fb659 starswitch&elvenflute

# boa isle: all verified
iceshield_fc7b7 boa_isle
magic_fc7ce boa_isle&sunblocks_on
magic_fc7e5 boa_isle&elvenflute&sunblocks_off
1000c_fc7fc boa_isle&shovel
icearmor_fc813 boa_isle
2000c_fc82a boa_isle&upjab
magic_fc841 boa_isle&downjab
sunspell_fc894 boa_isle&elvenflute

# puka isle: all verified
500c_fd59b puka_isle&shovel&lightblocks_on
magic_fd5b2 puka_isle&downjab
1000c_fd5c9 puka_isle&starblocks_on
magic_fd5e0 puka_isle&upjab
magic_fd5f7 puka_drained
health_fd60e puka_drained&shovel&aquablocks_off
1000c_fd625 puka_isle&elvenflute
magic_fd63c puka_isle&elvenflute
aquaarmor_fd653 puka_isle
thundersword_fd66a puka_isle
aquaspell_fd681 puka_isle&elvenflute

# sala isle: all verified
health_fe610 sala_isle&shovel
2000c_fe627 sala_isle&shovel&shove&upjab
magic_fe63e sala_isle&starblocks_on
crystalsword_fe655 sala_isle&shovel&downjab
aquashield_fe66c sala_isle&shovel&lightblocks_on&sunblocks_on&starblocks_on&aquablocks_on&moonblocks_on
magic_fe683 sala_isle&shovel&downjab&elvenflute
magic_fe69a sala_isle&moonblocks_on
ax_fe6b1 sala_isle&shovel&shove
moonspell_fe704 sala_isle&shovel&elvenflute

health_fef90 fuwa_isle&downjab&upjab&powersword
5000c_fefa7 fuwa_isle&moonblocks_on&starblocks_on
magic_fefbe fuwa_isle&powersword&lightblocks_on
magic_fefd5 fuwa_isle&shovel
powersword_fefec fuwa_isle&shovel

final fuwa_isle&powersword&shovel&skybell&boss
